.tg {
  font-size: 2rem;
  font-weight: bold;
}

.t {
  color: #eeeeee;
}

.g {
  color: #ebd671;
}

.bg_color {
  background-color: #05595b !important;
}

.txt_color {
  color: white !important;
}

.footer_bg {
  text-decoration: none;
  color: white;
  background-color: #05595b !important;
}

.names {
  align-content: center;
}

.footer_ftr {
  margin: 2rem 0 0 0;
}

img.d-block.w-100.img_carousel {
  height: 89vh;
  object-fit: cover;
}

.card_item {
  box-shadow: 0rem 1px 2px black;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}
.card_item_1 {
  box-shadow: 0rem 1px 2px black;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.cards_ {
  margin: 2rem 1rem 1rem 1rem;
}

.row {
  gap: 1rem;
}

.heading {
  margin: 1rem 0 0 0;
  display: grid;
  place-content: center;
}

.card_space_ {
  height: 10rem;
}

.state_head {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #019267;
}

.st_img {
  height: 10rem;
  object-fit: cover;
}

.card_item:hover {
  box-shadow: 0px 5px 7px #333;
  transform: scale(1.2);
}

.states_2 {
  margin-top: 4rem;
}

.goa_card {
  margin-left: 1rem;
}

.pft {
  font-size: 3rem;
  color: black;
}

.taw {
  font-size: 2rem;
  color: #333;
}

.etw {
  font-size: 2rem;
  color: white;
}

.feat {
  margin-top: 2rem;
  font-weight: bold;
  color: #019267;
}

body {
  background-color: #eeeeee;
}
.category_head {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
  color: #019267;
}
.category_q {
  font-size: 2rem;
}

.category_input {
  width: 150px;
  height: 30px;
  background-color: #74959a;
}
.submit_button {
  width: 150px;

  background-color: #4fd3c4;
  color: #333;
  border-radius: 8px;
}
.sub {
  background-color: #05595b !important;
}
.category {
  margin-top: 5rem;
  width: 500px;
  padding: 50px;
  background-color: #c1f8cf;
  border-radius: 15px;
}
.contact_head {
  margin-bottom: 3rem;
  font-weight: bold;
  color: #019267;
}
.contact_us {
  margin-top: 5rem;
  width: 100%;
  padding: 50px;
  background-color: #c1f8cf;
  border-radius: 15px;
}
.category__ > * {
  margin: 1rem 0 0 0;
}
.category__ {
  margin: 3rem 0 0 0;
}
.img_category {
  width: 100%;
  object-fit: cover;
}
.category_center {
  text-align: center;
}
.category_title {
  font-weight: bold;
  font-size: 2rem;
}
.category_text {
  font-size: 1rem;
}

.states_link {
  text-decoration: none;
  color: #333;
}

.content_conatiner {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  border: 2px solid #333;
  padding: 2rem 1rem;
  flex-wrap: wrap;
}
.content_1 {
  flex: 1 1 20%;
  min-width: 25ch;
  height: auto;
  object-fit: cover;
  border-radius: 11px;
}

.content_2 {
  flex: 1 1 70%;
  line-height: 1.5rem;
  text-align: justify;
}
.content_2 > h1 {
  text-transform: capitalize;
}
.heading_content {
  margin: 2rem 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
}
.content_container {
  padding: 2rem 1rem;
  perspective: 70rem;
  transform-style: preserve-3d;
  perspective-origin: top;
}
.content_beach {
  cursor: pointer;
  height: 27rem;
  margin: 6rem 0;
  border: 2px solid #333;
  transition: transform 500ms ease-in-out;
  position: relative;
}
.content_beach:hover {
  transform: rotateY(180deg);
}

.content_beach:hover .front {
  opacity: 0;
}
.content_beach:hover .back {
  transform: rotateY(-180deg);
  opacity: 1;
}
.front {
  width: 100%;
  height: 100%;
  transition: opacity 500ms ease-in-out;
}
.front > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.back {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 500ms ease-in-out;
  padding: 1rem 2rem;
}
.nav_fixed {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

/* media queries */
@media (max-width: 760px) {
  .goa_card {
    margin: 0;
  }
}
