.tg {
  font-size: 2rem;
  font-weight: bold;
}
.t {
  color: #eeeeee;
}
.g {
  color: #ebd671;
}
.bg_color {
  background-color: #05595b !important;
}
.txt_color {
  color: white !important;
}
.footer_bg {
  text-decoration: none;
  color: white;
  background-color: #05595b !important;
}
.names {
  align-content: center;
}
.footer_ftr {
  margin: 100vh 0 0 0;
}
.carousel_bootstrap {
  height: 90vh;
}
